# Include the README
include *.rst

# Include the license file
include LICENSE.txt

# Include version file
include VERSION.txt

# Do not distribute test data
include data
include data/text.txt
include data/tree/file0
include data/tree/file1
include data/tree/file2
recursive-include data *.json
recursive-include data *.zip
recursive-include data *.nii.gz
# prune data
prune .idea
prune devtests
include docs
prune docs/_build
recursive-include docs *
recursive-include tests *.py

# include *.py
include *.yaml
include Makefile
include tox.ini
exclude .coveragerc
include pylintrc
recursive-include imagedata *.py
exclude load_data.py

recursive-include data *.dcm
recursive-include data *.IMA
recursive-include data *.gif
recursive-include data *.gz
recursive-include data *.jpg
recursive-include data *.mat
recursive-include data *.mha
recursive-include data *.pdf
recursive-include data *.ps
recursive-include data *.zip
