# Include the README
include *.rst

# Include the license file
include LICENSE.txt

# Include version file
include VERSION.txt

# Do not distribute test data
prune data
prune .idea
prune devtests
prune docs
prune tests
